<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="similar.webnote.mapper.ContentMapper">
	<sql id="contentColumns">
		(id, username, title, detail, dirId, createTime, updateTime)
	</sql>
	<insert id="insertContent" parameterType="content" useGeneratedKeys="true" keyColumn="id">
		insert into t_content 
		<include refid="contentColumns" /> 
		values (#{id}, #{username}, #{title}, #{detail}, #{dirId}, #{createTime}, #{updateTime})
	</insert>
</mapper>